<h1>Listing name_years</h1>

<table>
  <tr>
    <th>Name year</th>
    <th>Is confirmed</th>
  </tr>

<% for name_year in @name_years %>
  <tr>
    <td><%=h name_year.name_year %></td>
    <td><%=h name_year.is_confirmed %></td>
    <td><%= link_to 'Show', name_year %></td>
    <td><%= link_to 'Edit', edit_name_year_path(name_year) %></td>
    <td><%= link_to 'Destroy', name_year, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New name_year', new_name_year_path %>
