<h1>Editing name_string</h1>

<% form_for(@name_string) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :is_canonical %><br />
    <%= f.check_box :is_canonical %>
  </p>
  <p>
    <%= f.label :canonical_id %><br />
    <%= f.text_field :canonical_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @name_string %> |
<%= link_to 'Back', name_strings_path %>
